@import "./header";

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  //   height: 200vh;
  position: relative;

  &::before {
    content: "";
    display: none;
  }
}

.app {
  grid-column: 2/12;
  height: 40vh;
  display: flex;
  align-items: center;
  margin: 100px 0 150px;
  font-family: $font;

  &__introduciton,
  &__description {
    width: 50%;
    // padding: 0 50px;
  }

  &__introduction {
    position: relative;

    &::before {
      position: absolute;
      right: 15%;
      //   top: 20px;
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      background-color: $green;
    }
  }

  &__description {
    color: $black;
    font-size: $medium-size;
    line-height: 170%;
    font-weight: 300;
  }

  &__title {
    font-size: $big-size;
    font-weight: 600;
    padding-right: 150px;
    line-height: 140%;
  }

  &__awesome {
    display: block;
    width: 250px;
    background-color: $black;
    color: $green;
    padding: 10px 20px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    font-size: $big-size;
  }
}

.cards {
  grid-column: 2/12;
  height: 60vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;

  &__card {
    width: 25%;
    height: 100%;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 40px 0;
    border-radius: 20px;
    box-shadow: 3px 1px 4px 0 $grey;
  }

  &__image {
    width: 80%;
    height: 150px;
  }

  &__descript {
    text-align: center;
    font-family: $font;
    width: 70%;
    font-weight: 300;
    line-height: 150%;
    font-size: $small-size;
    filter: brightness(90%);
  }

  &__button {
    background-color: $green;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    i {
      font-size: $medium-size;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 401px) and (orientation: portrait) {
  .app {
    flex-direction: column;
    margin: 50px 0;
    height: 70vh;

    &__title {
      font-size: 30px;
      padding: 0;
      text-align: center;
      letter-spacing: 0.5px;
    }

    &__awesome {
      display: inline-block;
      width: 80%;
      font-size: 28px;
      margin: 10px 0 0 0;
    }

    &__introduction {
      height: 60%;
      width: 90%;

      &::before {
        height: 3px;
        width: 110%;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        // margin: 20px 0 0 0;
        bottom: 21%;
      }
    }

    &__description {
      width: 80%;
      font-size: $small-size;
      color: $black;
      text-align: justify;
      line-height: 160%;
    }
  }

  .cards {
    height: 140vh;
    flex-direction: column;
    margin: 60px 0;

    &__card {
      background-color: rgba(1, 30, 39, 0.9);
      width: 70%;
      height: 40vh;
      //   margin: 30px 0;
      padding: 30px;
      border-radius: 0;
      box-shadow: none;
    }

    &__image {
      display: none;
    }

    &__descript {
      padding: 20px 0;
      font-size: $small-size;
      font-weight: 500;
      width: 100%;
      filter: brightness(90%);
    }

    &__button {
      border-radius: 20px;
      width: 150px;
    }
  }
}
