$green: #63DD67;
$grey: #443F3F;
$black: #011E27;
$dark: black;
$white: #ffffff;

$font: 'Poppins', sans-serif;


$small-size: 16px;
$medium-size: 18px;
$logo-size: 22px;
$big-size: 44px;
$icons-size: 36px;
$button-size: 22px;